:root {
    --main-orange:  #FFB20F;
    --main-black:   #2A2B2A;
    --main-white:   #F9F7F3;
    --basic-white:  #FFFFFF;
}

.bg-main-orange {
    background: var(--main-orange);
}

.bg-main-black {
    background: var(--main-black);
}

.bg-main-white {
    background: var(--main-white);
}

.bg-basic-white {
    background: var(--basic-white);
}

.text-main-orange {
    color: var(--main-orange);
}

.text-main-black {
    color: var(--main-black);
}

.text-main-white {
    color: var(--main-white);
}

.text-basic-white {
    color: var(--basic-white);
}

footer {
    min-width: 100%;
    background-color: var(--main-white);
    border-top: 8px solid var(--main-orange);
    text-align: center;
}

footer div img {
    max-width: 60px;
}


/*
* ||| POSTS |||
*/

#articles-page {
    margin: 20px auto 0;
    max-width: 1650px;
}

#main-article {
    position: relative;
    width: 100%;
    height: 425px;
    border-bottom: 6px solid var(--main-white);
}

.article {
    position: relative;
    height: 315px;
    border-bottom: 6px solid var(--main-white);
}

.article:nth-child(2) h1.article-title,
.article:nth-child(5) h1.article-title,
.article:nth-child(6) h1.article-title {
    color: var(--basic-white) !important;
}

.article:nth-child(3) h1.article-title,
.article:nth-child(4) h1.article-title,
.article:nth-child(7) h1.article-title {
    color: var(--main-black) !important;
}

@media (min-width: 1200px) {
    .article {
        border-right: 6px solid var(--main-white) !important;
    }
    .article:nth-child(even) h1.article-title {
        color: var(--basic-white) !important;
    }
    
    .article:nth-child(odd) h1.article-title {
        color: var(--main-black) !important;
    }
}

@media (min-width: 992px) {
    .article:nth-child(even) {
        border-right: 6px solid var(--main-white);
    }
}

.article > div {
    width: 100%;
    height: 100%;
}

#articles-page .col-12,
#articles-page .col-md-6 {
    padding: 0;
}

/*
#main-article:hover, .article:hover {
    transition: .7s;
}

#main-article, .article {
    transition: .7s;
}
*/

.article-effect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;   
    left: 0;
    opacity: .5;
    background-size: cover !important;
    background-position: center center !important;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;   
    left: 0;
}

#main-article .article-title {
    font-size: 3.5em !important;
    font-weight: bold;
}

#main-article .article-body {
    padding: 6px 12px;
    max-width: 400px;
    font-size: .85em;
    line-height: 1.2em;
    text-align: justify;
    background-color: rgba(249, 247, 243, 0.5);
    border: 1px solid var( --main-black);
}

.article .article-button {
    margin-top: 10px;
    cursor: pointer;   
}

.article .article-title {
    font-size: 3.5em !important;
    font-weight: bold;
}

.article .article-body {
    padding: 6px 12px;
    max-width: calc(100% - 32px);
    font-size: .85em;
    line-height: 1.2em;
    text-align: justify;
    background-color: rgba(42, 43, 42, 0.5);
    border: 1px solid var( --main-black);
}

#main-article .article-button {
    margin-top: 10px;
    cursor: pointer;
}

#paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 220px;
    background-color: var(--main-black);
}

.page-link {
    margin: 0 8px;
    width: 35px;
    border: 1px solid var(--main-orange);
    background-color: var(--main-black);
    border-radius: 0 !important;
    color: var(--main-orange) !important;
    text-align: center;
}

.page-link:hover {
    border: 1px solid var(--main-orange);
    background-color: var(--main-orange) !important;
    color: var(--main-white) !important;
}

.page-link.active {
    margin: 0 8px;
    border: 1px solid var(--main-orange);
    background-color: var(--main-orange) !important;
    color: var(--main-white) !important;
    font-weight: bold;
}
