:root {
    --main-orange:  #FFB20F;
    --main-black:   #2A2B2A;
    --main-white:   #F9F7F3;
    --basic-white:  #FFFFFF;
}

.bg-main-orange {
    background: var(--main-orange);
}

.bg-main-black {
    background: var(--main-black);
}

.bg-main-white {
    background: var(--main-white);
}

.bg-basic-white {
    background: var(--basic-white);
}

.text-main-orange {
    background: var(--main-orange);
}

.text-main-black {
    background: var(--main-black);
}

.text-main-white {
    background: var(--main-white);
}

.text-basic-white {
    background: var(--basic-white);
}

footer {
    min-width: 100%;
    background-color: var(--main-white);
    border-top: 8px solid var(--main-orange);
    text-align: center;
}

footer div img {
    max-width: 60px;
}
