

.contacto-container{
    margin-top: 1.2em;
    background-color: var(--main-orange);
    text-align: center;

}

h1{
    text-align: center;
    font-family: var(--title-nav-font);
    size: 60px;

}

.nosotros{
    color: white;
    
}