* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contacto-container {
    margin: 1.2em 0;
    background-color: var(--main-orange);
    text-align: center;
    padding: 1.5em;
}

h1 {
    text-align: center;
    font-family: var(--title-font);
    font-weight: bolder;
}

h1 > span {
    font-size: 30px;
}

.nosotros {
    color: white;
}

p {
    font-size: 14px;
    text-align: justify;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.barra-redes {
    display: none;
}

.imagen-container {
    display: none;
    position: relative;
    height: 730px;
    overflow: hidden;
}

.logo {
    display: none;
}

.email,
.telefono,
.ubicacion {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.email > *,
.telefono > *,
.ubicacion > * {
    margin: 0 0.2em;
}

.mapa {
    margin: 1em;
}

.datos-informacion {
    flex: inherit !important;
    width: 100%;
    margin: 0 0 0 5em;

}

.mapa, iframe {
    width: 90% !important;
}


@media (max-width: 1265px) {
    .imagen-container {
        display: none !important;
    }
    .datos-informacion {
        flex: initial !important;
        width: 75%;
    }
}

@media (min-width: 750px) {

    .contacto-container {
        margin: 1.2em 0 0 0;
        flex: 2;
    }
    .contacto-container > h1 > span {
        font-size: 85px;
    }

    .contacto-container > p {
        margin: 1em 10em;
    }

    .barra-redes {
        display: flex;
        justify-content: center;
        background-color: var(--main-black);
        padding: 0.8em;
    }

    .info-container{

        display: flex;
        flex-flow: row nowrap;
    }

    .ig {
        margin: 0 1em;
    }

    .imagen-container {
        display: initial;
        flex:1;

    }

    .datos-informacion{
        margin: 0 0 0 5em;
        flex:1 !important;
    }

    .imagen-container > img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
    
    .logo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

    }

    .logo > img {
        width: 300px;
    }

    .mapa{
        display: flex;
        justify-content: center;
        width: 90%;
    }

    iframe{
        width: 700px;
        height: 400px;
    }

    .telefono, .ubicacion, .email{
        margin: .3em 0 0 4em;

    }

    .telefono > svg, .ubicacion > svg, .email > svg {
        width: 20px;
        height: 20px;

    }

    .telefono > p, .ubicacion > p, .email >p{
        font-size: 16px;
    }



}
