h1 {
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
}

form{
    display: flex;
    justify-content: center;
}

.form-group {
    background-color: red;
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    padding: 1em;

}
