:root {
    --main-orange: #FFB20F;
    --main-black: #2A2B2A;
    --main-white: #F9F7F3;
    --basic-white: #FFFFFF;
    --title-font: 'Oswald', sans-serif;
    --content-font: 'Noto Sans', sans-serif;
    --aux-font: 'Open Sans', sans-serif;
}

h1 {
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
}

form{
    display: flex;
    justify-content: center;
   
}

.form-group {
    background-color: var(--main-orange);
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    padding: 1em;
    border-radius: .4em;
}

span{
    font-size: 18px;
}

.btn{
    margin:0 0 0 1em ;
    background-color: var(--main-black) !important;
    border: none !important;
}

@media (min-width: 750px) {

    form{
        margin-bottom: 4em;
    }
    
    span{
        padding: .2em;
    }

    input{
        padding: .5em 0;
    }

    
}


@media (min-width: 1025px){

    form{
        margin: .5em auto;
        max-width: 80%;
        padding: 2em;
    }
}
