:root {
    --main-orange: #FFB20F;
    --main-black: #2A2B2A;
    --main-white: #F9F7F3;
    --basic-white: #FFFFFF;
    --title-font: 'Oswald', sans-serif;
    --content-font: 'Noto Sans', sans-serif;
    --aux-font: 'Open Sans', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.page-link{
    background-color: var(--main-black) !important;
    border: none;
    color: #FFB20F;
}
.page-link

.page-link:hover{
    border: var(--main-orange) !important;
}

.barraElementos{

    display: flex;
    justify-content: space-between;
}

#add{
    margin:0 0 0 1em ;
    background-color: var(--main-black) !important;
    border: none;
}

#buscar{
    background-color: var(--main-black) !important;
    border: none;
}


.contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;




}
h1{
    text-align: center;
    font-family: var(--title-font);
    padding: 1em;
    background-color: #FFB20F;
    margin: .5em 0 !important;

}

.card{
    margin:  1em ;
    max-width: 700px;


}


.card .controls{
    display: flex;
    flex-flow: row wrap;
    margin: 1em 0 0 0;
}

.card .controls > * {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
    margin: .2em;
}

.card .controls form input[type="submit"]{
    width: 100%;
}


.paginador > nav > ul >li > span, .paginador > nav > ul >li > a{
    border-color: var(--main-orange);
}

.paginador > nav > ul >li > a:hover{
    background-color: var(--main-orange);
    color: var(--main-black);
}
.paginador{
    margin-top: 1em;
}

.paginadorContainer{
    display: flex;
    justify-content: center;
    background-color: #2A2B2A;
    padding: 1em;

}


.page-link{
    background-color: var(--main-black) !important;
    border: none;
    color: #FFB20F !important;
}

.page-item.active .page-link {
    border-color: #FFB20F !important;
  }

@media (max-width:767px) {
    .pagination li {
        display: none;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        align-content: center;
        max-width: 100%;
    }


    .paginador  ul li:first-child, .paginador ul li:last-child {
        display: flex;
    }

    span.paginador {
        min-width: 95%;
    }

    .page-item {
        background-color: var(--main-orange);
        font-size: 120px;
        margin: 1rem;
        color: white;
    }

    .page-item.disabled span.page-link {
        color:white !important;
        background-color: var(--main-orange) !important;
    }

    a.page-link {
        color:white !important;
        background-color: var(--main-orange) !important;
    }

    .page-link  {
        padding: 2rem 2rem !important;
    }
}
