*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 1em;
    overflow: hidden;
    margin: 1em 0;
    padding: 1em;
} 

.card{
    margin:.2em 0 0 .3em;
    max-width: 500px;

}

