:root {
    --main-orange:  #FFB20F;
    --main-black:   #2A2B2A;
    --main-white:   #F9F7F3;
    --basic-white:  #FFFFFF;
    --title-font : 'Oswald', sans-serif;
    --content-font : 'Noto Sans', sans-serif;
    --aux-font : 'Open Sans', sans-serif;
}


h1.article-title{
    text-align: center;

}


h2{
    color: var(--basic-white);



}

h2 span{
    color:var(--main-orange) ;

    margin: 0;
}


.podcast h2{
    display: flex;
    flex-flow: row wrap;
}


.planes{
    min-height: 50vh;
    background-color: var(--main-orange);
    padding: .5em;
    background-image: url('../images/provisional-desarrollo/planes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 1em 0;
}


.planes h2{
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;

}

.productos{
    min-height: 50vh;
    background-color: var(--main-black);
    padding: 1em;
    background-image: url('../images/provisional-desarrollo/productos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.productos h2{
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;
    text-align: end;
}

.planes h2 span{
    color: var(--basic-white);

}




@media (min-width:750px){

    .planes, .productos{
        height: 90vh;

    }

    .planes h2, .productos h2{
        font-size: 44px;
    }



}
