:root {
    --main-orange: #FFB20F;
    --main-black: #2A2B2A;
    --main-white: #F9F7F3;
    --basic-white: #FFFFFF;
    --title-font: 'Oswald', sans-serif;
    --content-font: 'Noto Sans', sans-serif;
    --aux-font: 'Open Sans', sans-serif;
}

.carousel-control-prev, .carousel-control-next {
    max-height: none !important;
    max-width: none !important;
}

h1.article-title {
    text-align: center;
}

h2 {
    color: var(--basic-white);
}

h2 span {
    margin: 0;
    color: var(--main-orange);
}

.podcast h2 {
    display: flex;
    flex-flow: row wrap;
}

.planes {
    min-height: 50vh;
    background-color: var(--main-orange);
    padding: .5em;
    background-image: url('../images/provisional-desarrollo/planes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 1em 0;
}

.planes h2 {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;

}

.productos {
    min-height: 50vh;
    padding: 1em;
    background-color: var(--main-black);
    background-image: url('../images/provisional-desarrollo/productos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.productos h2 {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;
    text-align: end;
}

.planes h2 span {
    color: var(--basic-white);
}




.entrenadores {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--main-orange);


}

.entrenadores h3{
    font-size: 2.5em;
    padding: 1em 0 0;
    text-align: center;
    font-family: var(--title-font);
    text-transform: uppercase;
}

.entrenador {
    padding: .5em 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--main-orange);
    height: 50vh;
}

.entrenador article {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    background-color: var(--main-white);
    align-items: center;
    padding: 1em;
    border-radius: .4em;
    margin: 0 .5em;
}

.entrenador article:nth-last-of-type(1),.entrenador article:nth-last-of-type(2), .entrenador article:nth-last-of-type(4), .entrenador article:nth-last-of-type(5){
    display: none;
}

.entrenador a {
    text-decoration: none;
}

.entrenador .entrenador-nombre {
    font-weight: bolder;
    font-size: 1.2em;
}

.entrenador figure {
    margin: 0 .5em;

}

.datos-entrenador {
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width:750px) {
    .planes, .productos {
        height: 90vh;
    }

    .planes h2, .productos h2 {
        font-size: 44px;
    }

    .entrenador article:nth-last-of-type(4), .entrenador article:nth-last-of-type(5){
        display: flex;
    }
}

@media (min-width:1200px) {

    .entrenador article:nth-last-of-type(1), .entrenador article:nth-last-of-type(2){
        display: flex;
    }

}


.podcastIndex > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.podcastIndex h2 {
    color: var(--main-black);
    margin: 0.2rem;
    font-size: 25px;
    margin-left: 2rem;
    flex-direction: column;

}

.podcastIndex span {
    color: var(--main-orange);
    margin: 0;
}

.podcastIndex img {
    max-width: 250px;
    max-height: 200px;
}

