.planContenido1 {
    background: var(--main-orange);
}

.pContenido1{
    color: var(--main-black);
    font-size: 1.2em;
    text-align: center;
}

.titulo{
    margin: 1rem;
    font-family: var(--title-font);
}

span {
    color:var(--main-black);
}

.planContenido2{
    margin-bottom: 10px;
    background: var(--main-white);
}

.span1Contenido1 {
    font-size: 4rem;
}
.span2Contenido1 {
    color:var(--main-white);
    font-size: 4rem;
}

#multi-item-example {
    margin-bottom: 30px;
}

.masInformacion{
    display: none;
}

.span1Contenido2 {
    font-size: 4rem;
}

.span2Contenido2 {
    color:var(--main-orange);
    font-size: 4rem;
}

.carousel button:first-child {
    background-color:var(--main-orange);
}

.carousel-item:nth-of-type(even) .card-body {
    background-color: var(--main-black);
    color: var(--main-white);
}

.profile {
    display: flex;
    position: relative;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    background: var(--main-white);
    text-align: justify;
    padding-bottom: 1em;

}

.profile_top {
    margin: 25px;
}

.profile_avatar {
    margin: 25px 25px 10px;
}

.profile_avatar img {
    width: 60%;
    border: 5px solid var(--main-black);
    border-radius: 100%;
}

.profile_info {
    margin: 0 auto 20px;
    text-align: center;
}

.profile_name, .profile_description {
    display: block;
    margin: 0 auto;
    padding: 0;
    color: var(--main-black);
    text-align: center;
}

.profile_name {
    margin-top: 15px;
    font-family: oswald;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
}

.profile_description {
    margin-top: 5px;
    font-style: italic;
    line-height: 1.5;
}

.profile_social_media {
    width: 100%;
    text-align: center;
}

.profile_social_media a {
    text-decoration: none;
}

.carousel-control-prev, .carousel-control-next{
    width: 10% !important;
}

.visualizer{
    max-width: 100%;
}


.carousel-control-next{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    background: no-repeat;
    right: 1em;
}

.carousel-control-prev{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    background: no-repeat;
    left: 1em;
}

.plan{
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.plan > img{
    height: 330px;
}

