:root {
    --main-orange:  #FFB20F;
    --main-black:   #2A2B2A;
    --main-white:   #F9F7F3;
    --basic-white:  #FFFFFF;
    --title-nav-font: oswald;
    --alternative-font: sans-serif;
    --content-font: 'Noto Sans', sans-serif;
}

#articles-page {
    margin: 20px auto 0;
    max-width: 1650px;
    overflow: hidden;
}

#main-article {
    position: relative;
    width: 100%;
    height: 425px;
    border-bottom: 6px solid var(--main-white);
}

.article {
    position: relative;
    height: 315px;
    border-bottom: 6px solid var(--main-white);
}

.article-title{
    background-color: transparent !important;
    font-family: var(--title-font);
    font-weight: bolder;
}

.article:nth-child(2) h1.article-title,
.article:nth-child(5) h1.article-title,
.article:nth-child(6) h1.article-title {
    color:var(--main-black) !important;
}

.article:nth-child(3) h1.article-title,
.article:nth-child(4) h1.article-title,
.article:nth-child(7) h1.article-title {
    color: var(--main-black) !important;
}


@media (min-width: 1200px) {
    .article {
        border-right: 6px solid var(--main-white);
    }
    .article:nth-child(3n+1) {
        border-right: 0px !important;
    }
    .article:nth-child(even) h1.article-title {
        color:var(--main-black) !important;
    }
    .article:nth-child(odd) h1.article-title {
        color: var(--main-black) !important;
    }
}

@media (min-width: 992px) {
    .article:nth-child(2n) {
        border-right: 6px solid var(--main-white);
    }
}

.article > div {
    width: 100%;
    height: 100%;
}

#articles-page .col-12,
#articles-page .col-md-6 {
    padding: 0;
}

.article-effect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    background-size: cover !important;
    background-position: center center !important;
    filter: blur(.1em) brightness(.9) !important;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#main-article .article-title {
    font-size: 3.5em !important;
    font-weight: bold;
}

#main-article .article-body {
    padding: 6px 12px;
    max-width: 400px;
    font-size: .85em;
    line-height: 1.2em;
    text-align: justify;
    background-color: rgba(249, 247, 243, 0.5);
    border: 1px solid var( --main-black);
}

.article .article-button {
    margin-top: 10px;
    cursor: pointer;
}

.article .article-title {
    font-size: 3.5em !important;
    font-weight: bold;
}

.article .article-body {
    padding: 6px 12px;
    max-width: calc(100% - 32px);
    font-size: .85em;
    line-height: 1.2em;
    text-align: justify;
    background-color: rgba(42, 43, 42, 0.5);
    border: 1px solid var( --main-black);
}

#main-article .article-button {
    margin-top: 10px;
    cursor: pointer;
}

.controls > *{
    background-color: var(--main-orange);
    padding: 10%;
    font-size: 120px;
    color:var(--main-white);
    margin: 1rem;
}

.enlacesfooterescritorio p{
    font-family: var(--content-font) !important;
}

.controls {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.ocultarEscritorio{
    display: flex !important;
    background-color: var(--main-black);
}

.ocultarMovil {
    display: none !important;
}

#paginator{
    margin: 0 !important;
    display: none !important;
    background-color: var(--main-black);
    height: 20vh;

}

#paginator a{
    border-color: var(--main-orange);
    background-color: transparent;
    color: var(--main-orange);
}
 #paginator a:hover{
    background-color: var(--main-orange);
    color: var(--main-black);
}


.paginadorContainer{
    display: flex;
    justify-content: center;
    background-color: #2A2B2A;
    padding: 1em;

}

.paginadorContainer{
    background-color: var(--main-black);
}


.page-link {
    margin-left: -1px;
}

.paginador > nav > ul >li > span, .paginador > nav > ul >li > a {
    border-color: var(--main-orange);
}

.page-link {
    padding: 0.375rem 0.75rem;
}

.page-link {
    background-color: var(--main-black) !important;
    color: #FFB20F !important;
}

.page-item.active .page-link {
    border-color: var(--basic-white) !important;
}







@media (min-width: 750px) {

    #paginator{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .ocultarEscritorio{
        display: none !important;
    }

    .ocultarMovil {
        display: flex !important;
    }

}

@media (max-width:767px) {
    .pagination li {
        display: none;
    }

    ul.pagination {
        display: flex;
        justify-content: space-between;
        align-content: center;
        min-width: 100% !important;
    }


    .paginador  ul li:first-child, .paginador ul li:last-child {
        display: flex;
    }

    span.paginador {
        min-width: 95%;
    }

    .page-item {
        background-color: var(--main-orange);
        font-size: 120px;
        margin: 1rem;
        color: white;
    }

    .page-item.disabled span.page-link {
        color:white !important;
        background-color: var(--main-orange) !important;
    }

    a.page-link {
        color:white !important;
        background-color: var(--main-orange) !important;
    }

    .page-link  {
        padding: 2rem 2rem !important;
    }
}
