h1{
    font-family: var(--title-font);
    text-transform: uppercase;
    text-align: center;
    margin: .5em 0;
}

form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    font-family: var(--content-font);
    margin: .5em 0;
}

form  .form-group{
    display: flex;
    flex-flow: row wrap;
    margin: .5em;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: .2em;
}


form .form-group:first-of-type{
    background-color: var(--main-orange);
}

form .form-group:last-of-type{
    background-color: var(--main-black);
    color: var(--basic-white);
}

form .form-group input,form .form-group textarea {
    margin: .5em 0;

}

form .form-group label{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 300px;
    margin: .5em;
}

form textarea{
    padding: .5em;
}

form input[type="submit"]{
    background-color: var(--main-orange);
    padding: .5em ;
    max-width: 200px;
    align-self: center;
    border: 0;
    border-radius: .2em;
    font-weight: bolder;
    color: var(--basic-white);
}

form input[type="submit"]:hover{
    background-color: var(--main-black);
    
}