:root {
    --main-orange: #FFB20F;
    --main-black: #2A2B2A;
    --main-white: #F9F7F3;
    --basic-white: #FFFFFF;
    --title-font: 'Oswald', sans-serif;
    --content-font: 'Noto Sans', sans-serif;
    --aux-font: 'Open Sans', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 4em;
  
    

} 
h1{
    text-align: center;
    font-family: var(--title-font);
    padding: 1em;
    background-color: #FFB20F;
    margin: .5em 0 !important;
    
}

.card{
    margin: 0 2em 0 0;
    max-width: 700px;

}