:root {
    --main-orange: #FFB20F;
    --main-black: #2A2B2A;
    --main-white: #F9F7F3;
    --basic-white: #FFFFFF;
    --title-font: 'Oswald', sans-serif;
    --content-font: 'Noto Sans', sans-serif;
    --aux-font: 'Open Sans', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.barraElementos{
 
    display: flex;
    justify-content: space-between;
}

#add{
    margin:0 0 0 1em ;
    background-color: var(--main-black) !important;
    border: none;
}

#buscar{
    background-color: var(--main-black) !important;
    border: none;
}

.contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2em 0 0 0;
} 

h1{
    text-align: center;
    font-family: var(--title-font);
    padding: 1em;
    background-color: #FFB20F;
    margin: .5em 0 !important; 
}

.card{
    margin: 0 1em;
}

.paginador > nav > ul >li > span, .paginador > nav > ul >li > a{
    border-color: var(--main-orange); 
}

.paginador > nav > ul >li > a:hover{
    background-color: var(--main-orange);
    color: var(--main-black);
}
.paginador{
    margin-top: 1em;
}

.paginadorContainer{
    display: flex;
    justify-content: center;
    background-color: #2A2B2A;
    padding: 1em;
}

.page-link{
    background-color: var(--main-black) !important;
    border: none;
    color: #FFB20F !important;
}

.page-item.active .page-link {
    border-color: #FFB20F !important;
  }
